/* Global Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100%;
    background: rgb(43,52,61);
    background: linear-gradient(139deg, rgba(43,52,61,1) 25%, rgba(142,112,100,1) 88%);

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

.bold{
    font-weight: bold;
}

/* Nav Styles */
nav{
    flex: 1;
    max-height: 7rem;
    color: white;
    border-bottom: solid 1px white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.brand-name{
    font-family: 'Unica One', cursive;
    margin: 5rem;
}

.brand-name:hover{
    transform: scale(1.5);
}

.nav-list{
    height: 100%;

    display: flex;
    list-style: none;
}

.nav-link{
    height: 100%;
    padding: 0 4rem;
    
    display: flex;
    align-items: center;
}

.nav-link:hover{
    background-color: rgb(204, 204, 204);
    color: black;
}

.cat{
    background-color: #EFA683;
    color: #262E35;
    text-align: center;
}

.cat:hover{
    background-color: #f08a5c;
}

/* Hero Styles */
.hero{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #EFA683;
}

.model-image{
    height: 80%;
    width: auto;
}

/* Hero Title Subtitle */
.hero-title{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 5rem;
    color: #EFA683;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
}

.hero-subtitle{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 5rem;
    color: #EFA683;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    padding-left: 2.5rem;
}

.hero-subtitle2{
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 1rem;
    width: 140px;
    color: rgba(255, 255, 255, 0.555);
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

/* Hero Banner */

.hero-banner{
    height: 30%;
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EFA683;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 1rem;
    border-bottom: solid 1px black;
    color: #141112;
    font-family: 'Montserrat', sans-serif;
}

.banner-product h1{
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 3vw;
    padding: 1rem;
}
.banner-product p{
    padding: 1rem;
}

.banner-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    padding: 1rem;
}

/* Product Image */
.product-image-container{
    position: absolute;
    right: 10%;
    bottom: 30%;
    color: rgba(255, 255, 255, 0.548);
    border-bottom: solid 1px white;
    text-align: right;
}

.product-ammount{
    position: absolute;
    right: 23%;
    bottom: 50%;
    z-index: 2;
    font-size: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.product-image{
    height: 15vw;
    width: auto;
}

.product-details{
    padding: 0.5rem 0;
}

/* Hero Button */

.our-story-button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    animation: updown 2s ease infinite;
}

.hero-story-button{
    border: solid 1px white;
    border-radius: 100%;
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
}

@keyframes updown {
    0% {
      transform: translateY(-10%);
    }
  
    50% {
      transform: translateY(10%);
    }
  
    100% {
      transform: translateY(-10%);
    }
  }